_{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: none;
    background-color: none;
}
body::before {
    content: "";
    position: fixed;
  background: #29342c8c ;
   background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1; 
  }
  